.container {
  position: relative;
  width: 160px;

  input[type="time"] {
    font-family: Arial;
    font-size: 13px;
    width: 150px;
    height: 35px;
    appearance: none;
    border: 1px solid #939393;
    background-color: #ffffff;
    padding-left: 6px;
    color: #939393;
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 5px;
    outline: none;
  }

  input[type="time"]::-webkit-calendar-picker-indicator {
    background: none;
    display:none;
  }

}