.input_container {

  input {
    font-family: 'Open Sans', sans-serif;
    outline: none;
    height: 33px;
    width: 100%;
    font-size: 13px;
    border: 1px solid #939393;
    padding: 0 10px;
  }
}
