.button {
  width: 80px;
  height: 35px;
  border: 1px solid #495057;

  .light {
    background: #ffffff;
    color: #333333;
  }

  .dark {
    background: #333333;
    color: #ffffff;
  }
}
