.button_container {

  button {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    width: 90px;
    height: 35px;
    border: 1px solid #939393;
    cursor: pointer;

    &.light {
      background: #ffffff;
      color: #939393;

      &:hover {
        opacity: 0.6;
      }
    }

    &.dark {
      background: #333333;
      color: #ffffff;

      &:hover {
        opacity: 0.9;
      }
    }
  }
}
